$path: '../fonts/lenomdetameilleurfont/'

@mixin declare-font-face($fontFileName, $fontFamilyName, $fontWeight: normal, $fontStyle: normal, $SVGName: '')
  @font-face
    font-family: $fontFamilyName
    font-weight: $fontWeight
    font-style: $fontStyle
    font-display: swap

    src: url('#{$path}#{$fontFileName}.eot?#iefix') format('embedded-opentype'),
    url('#{$path}#{$fontFileName}.woff') format('woff'),
    url('#{$path}#{$fontFileName}.ttf') format('truetype'),
    url('#{$path}#{$fontFileName}.svg#@{SVGName}') format('svg')


//@include declare-font-face('ChaletComprime-CologneSixty', 'ChaletComprime', 400, normal)
