.bg-gray-100.shadow.sticky.top-0.z-40
  .w-container.mx-auto.max-w-container-xs.flex.flex-wrap.justify-center.items-center.space-x-3.text-xs(class="lg:justify-around lg:text-base")
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-typo") Typography
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-text") Text
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-color") Colors
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-buttons") Buttons
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-link") Links
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-form") Forms
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-dropdown") Dropdown
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-checkbox") Checkbox
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-select") Select
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-modal") Modal
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-lightgallery") Lightgallery
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-slider") Sliders
    a.link.link-primary.py-3(class="lg:py-5" data-controller="scroll-to" data-scroll-to-offset-value="100" href="#styleguide-wysiwyg") Wysiwyg
