#styleguide-lightgallery.w-container.mx-auto.max-w-container-xs

  .mb-6(class="lg:mb-12")
    p.font-sans.text-xs.uppercase.tracking-widest Project
    h2.font-title.font-bold.text-2xl Lightgallery

  div(data-controller="lightbox")
    a.inline-flex.items-center.px-6.py-3.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="https://source.unsplash.com/CVTmLMv5oG4/1200x1200")
      span Ouvrir plus d'images
      i.fas.fa-plus.pl-3
    a.item.hidden(href="https://source.unsplash.com/t9ovV7r-FJU/1300x1200")
      img(src="https://source.unsplash.com/t9ovV7r-FJU/1300x1200")
    a.item.hidden(href="https://source.unsplash.com/dGMPtD9pWIE/1500x1200")
      img(src="https://source.unsplash.com/dGMPtD9pWIE/1500x1200")
    a.item.hidden(href="https://source.unsplash.com/dTCNj6ptvG0/1400x1200")
      img(src="https://source.unsplash.com/dTCNj6ptvG0/1400x1200")

  .mt-6(class="lg:mt-12")
    a.inline-flex.items-center.px-6.py-3.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="https://github.com/sachinchoolur/lightgallery.js") Lib
