#modal-contact.sr-only
  div
    .text-center
      p.text-lg.text-primary-200.font-bold Titre de la modale
      p.text-base.mb-6 Notre équipe d’experts est à votre service pour répondre à vos questions

<!-- Template modale -->
.modal-template
  .modal-template__inner
    button(class="focus:outline-none" type="button" data-modal-close="")
    .modal-template__wrapper
      .modal-template__content
