.thumb.group.w-full.inline-block.bg-white.shadow-lg.rounded-lg.overflow-hidden.my-4(href="")
  .thumb__image.h-56.overflow-hidden
    img.w-full.img-cover.object-center(loading="lazy" src="https://source.unsplash.com/3wylDrjxH-E/1600x1600")

  .py-4.px-6
    p.text-sm.text-primary-400(class="lg:text-xl") AIX LES BAINS (73100)
    h3.text-xl.text-gray-900.font-bold.line-clamp-2.thumb-accommodation-title.transition.transition-colors.duration-500(class="lg:text-2xl group-hover:text-indigo-700") Vente maison / Villa - Maison Contemporaine
    p.text-xl.font-extrabold.text-primary-400(class="lg:text-3xl") 1 460 000 €

    .flex.items-center.mt-6.space-x-6
      .flex.items-center.text-gray-700.text-lg(class="lg:text-xl")
        i.fas.fa-home
        p.px-2 4 pièces
      .flex.items-center.text-gray-700.text-lg(class="lg:text-xl")
        i.fas.fa-vector-square
        p.px-2 135m2
