.modal-template
  content: ""
  @apply hidden
  @apply block
  @apply fixed
  @apply top-0
  @apply left-0
  @apply right-0
  @apply bottom-0
  @apply opacity-0
  @apply overflow-hidden
  @apply text-center
  background: rgba(0, 0, 0, 0.6)
  z-index: -1
  transition: opacity 0.2s, z-index 0s 0.2s

  &::before
    content: ""
    @apply inline-block
    @apply overflow-hidden
    @apply w-0
    @apply h-full
    @apply align-middle

  & > *
    @apply inline-block
    @apply align-middle
    @apply text-left

  &__inner
    @apply relative
    @apply w-container
    @apply max-w-2xl
    @apply bg-white
    @apply py-8
    @apply px-6
    @apply opacity-0
    @apply overflow-x-hidden
    @apply overflow-y-auto
    @apply shadow
    max-height: 90%
    z-index: -1
    transform: scale(0)
    transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s

    @screen md
      @apply px-12

  [data-modal-close]
    @apply absolute
    @apply top-2
    @apply right-2
    z-index: 2
    @apply w-8
    @apply h-8
    @apply text-center

    &::after
      content: '\f00d'
      @apply block
      @apply font-icon
      @apply font-light
      @apply text-primary-200
      @apply text-2xl
      @apply transition
      @apply transition-colors
      @apply ease-in-out
      @apply duration-300

    &:hover::after
      @apply text-primary-200

.modal-visible
  @apply overflow-hidden
  @apply h-full
  @apply max-h-full

  // Animation
  & .modal-template
    @apply z-max
    @apply opacity-100
    transition: opacity 0.2s

  & .modal-template__inner
    z-index: 100
    @apply opacity-100
    transform: scale(1)
    transition: opacity 0.2s, transform 0.2s
