.slider-navigation
  .swiper-button-prev,
  .swiper-button-next
    @apply hidden #{!important}
    @screen xl
      @apply block #{!important}

  .swiper-pagination
    @apply block #{!important}
    @screen xl
      @apply hidden #{!important}

  .swiper-wrapper
    @apply relative
    @apply z-10
    @apply pb-12

  .swiper-button-next,
  .swiper-button-prev
    @apply top-auto
    @apply bottom-0
    @apply hidden
    @apply z-20

    @screen lg
      @apply block

    &:hover
      &::after
        @apply text-primary-200

    &::after
      font-size: 1.125rem
      @apply text-secondary-200
      @apply font-icon
      @apply flex
      @apply items-center
      @apply justify-center
      @apply h-10
      @apply w-10
      @apply font-light
      @apply transition
      @apply transition-colors
      @apply ease-in
      @apply duration-300

  .swiper-button-prev
    @apply left-0

    &::after
      content: '\f053'

  .swiper-button-next
    @apply left-slider-arrow

    &::after
      content: '\f054'

  .swiper-pagination-bullet
    @apply bg-white #{!important}
    @apply h-4 #{!important}
    @apply w-4 #{!important}
    @apply opacity-100 #{!important}
    transform: scale(1) !important
    border: solid 0.1rem $secondary-200

    &-active
      background-color: $secondary-200 !important
