extends layouts/application.pug

block content
  include layouts/header.pug

  .w-container.max-w-container-xs.mx-auto.text-center.my-8
    h2.font-title.font-bold.text-2xl Bloc image + bloc text (display grid version)

  section.bg-gray-100(data-controller="animation")
    .w-container.max-w-xl.mx-auto.py-10(class="lg:max-w-container-xs lg:py-32")

      .grid.grid-cols-1.gap-6(class="lg:grid-cols-2 lg:gap-12")
        .text-center.space-y-6(class="lg:text-left")
          h2.title-animation.font-title.font-bold.text-xl.mb-5(class="lg:text-2xl" data-target="animation.title") Lorem ipsum dolor sit amet, consectetur adipiscing elit
          .w-8(class="lg:w-6.mx-auto lg:mx-0")
            hr.w-full.h-1.bg-primary-200.border-0.my-3(class="lg:my-4" data-target="animation.separator")
          p(data-target="animation.description") In ornare ligula turpis, et efficitur justo posuere a. In ultricies enim mi. Etiam placerat tristique consequat. Nulla id dui quis odio maximus pharetra. Nulla imperdiet tortor iaculis magna bibendum, at tristique dui tempor. Morbi gravida mattis odio at condimentum.

          div(data-target="animation.button")
            a.inline-flex.items-center.px-6.py-3.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="") Button CTA

        .relative(data-target="animation.image")
          .absolute.bottom-0.left-0.right-0.bg-gray-100.h-0(data-target="animation.imageBackground")
          img.w-full(src="../assets/common/thumb.png")

  .w-container.max-w-container-xs.mx-auto.text-center.my-8
    h2.font-title.font-bold.text-2xl Bloc image + bloc text (display flex version)

  section.bg-gray-100(data-controller="animation")
    .w-container.max-w-xl.mx-auto.py-10(class="lg:max-w-container-xs lg:py-32")

      .flex.flex-col.space-y-6(class="lg:flex-row lg:space-x-12")
        .text-center.space-y-6(class="lg:w-1/2 lg:text-left")
          h2.font-title.font-bold.text-xl.mb-5(class="lg:text-2xl" data-target="animation.title") Lorem ipsum dolor sit amet, consectetur adipiscing elit
          .w-8(class="lg:w-6 mx-auto lg:mx-0")
            hr.w-full.h-1.bg-primary-200.border-0.my-3(class="lg:my-4" data-target="animation.separator")
          p(data-target="animation.description") In ornare ligula turpis, et efficitur justo posuere a. In ultricies enim mi. Etiam placerat tristique consequat. Nulla id dui quis odio maximus pharetra. Nulla imperdiet tortor iaculis magna bibendum, at tristique dui tempor. Morbi gravida mattis odio at condimentum.

          div(data-target="animation.button")
            a.inline-flex.items-center.px-6.py-3.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="") Button CTA

        .relative(class="lg:w-1/2" data-target="animation.image")
          .absolute.bottom-0.left-0.right-0.bg-gray-100.h-0(data-target="animation.imageBackground")
          img.w-full(src="../assets/common/thumb.png")

  .w-container.max-w-container-xs.mx-auto.text-center.my-8
    h2.font-title.font-bold.text-2xl Bloc background image

  section.bg-gray-100(data-controller="animation")
    .w-container.max-w-xl.mx-auto.py-6(class="lg:py-12 lg:max-w-container-lg")

      .relative.bg-primary-200(data-target="animation.image")
        img.img-cover.absolute.top-0.left-0.right-0.bottom-0.z-10(src="../assets/common/background.jpg")

        .absolute.top-0.bottom-0.left-0.right-0.bg-black.opacity-50.z-20

        .relative.z-30.text-white.text-center.py-12(class="lg:py-30")
          .w-container.max-w-xl.mx-auto
            h1.font-title.text-xl.mb-6(class="lg:text-3xl lg:mb-8" data-target="animation.title") Lorem ipsum dolor sit amet, consectetur adipiscing elit Praesent
            div(data-target="animation.button")
              a.inline-flex.items-center.px-6.py-3.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="") Button CTA

  .w-container.max-w-container-xs.mx-auto.text-center.my-8
    h2.font-title.font-bold.text-2xl Hero avec texte

  section.bg-gray-100(data-controller="animation")
    .w-container.max-w-xl.mx-auto.py-10(class="lg:py-22 lg:max-w-container-xs")

      .text-center
        .max-w-2xl.mx-auto
          h2.font-title.font-bold.text-lg(class="lg:text-2xl" data-target="animation.title") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget semper sem, eu euismod massa.
          .w-8.mx-auto(class="lg:w-6")
            hr.w-full.h-1.bg-primary-200.border-0.my-3(class="lg:my-4" data-target="animation.separator")
        p(data-target="animation.description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget semper sem, eu euismod massa. Nunc massa diam, pharetra vel tempus id, lobortis eget lorem. Nulla viverra fermentum mauris non consectetur. Duis sollicitudin vitae tortor non porta. Nunc consectetur sem euismod, molestie mauris a, tristique felis. Nulla lacinia dui vitae malesuada cursus. Nam mollis et ipsum tempor iaculis.

  .w-container.max-w-container-xs.mx-auto.text-center.my-8
    h2.font-title.font-bold.text-2xl Hero avec image + text

  section.bg-primary-200.relative(data-controller="animation")
    div
      .absolute.top-0.left-0.right-0.bottom-0.w-full.h-full.z-10
        picture
          source(srcset="../assets/common/background.jpg" media="(min-width: 800px)")
          img.img-cover(src="../assets/common/background-mobile.jpg")

      .absolute.top-0.bottom-0.left-0.right-0.bg-black.opacity-50.z-20

      .relative.w-container.max-w-xl.mx-auto.flex.justify-center.items-center.text-center.text-white.z-40
        .py-20(class="lg:py-40")
          p.font-sans.uppercase.leading-widest(data-target="animation.title") Consectetur adipiscing
          h1.font-title.font-bold.text-2xl(class="lg:text-4xl" data-target="animation.description") Lorem ipsum dolor sit amet, consectetur adipiscing elit

  .w-container.max-w-container-xs.mx-auto.text-center.my-8
    h2.font-title.font-bold.text-2xl Bloc chiffres

  section.bg-gray-100
    .w-container.max-w-xl.mx-auto.py-10(class="lg:py-22 lg:max-w-container-xs")

      .grid.grid-cols-2.gap-6(class="lg:grid-cols-4 lg:gap-12")
        .font-title.font-bold.text-center
          p.text-5xl 250
          p.text-lg(class="lg:text-xl") Lorem ipsum

        .font-title.font-bold.text-center
          p.text-5xl 6500
          p.text-lg(class="lg:text-xl") Lorem ipsum

        .font-title.font-bold.text-center
          p.text-5xl 250
          p.text-lg(class="lg:text-xl") Lorem ipsum

        .font-title.font-bold.text-center
          p.text-5xl 6500
          p.text-lg(class="lg:text-xl") Lorem ipsum


  include styleguide/modale-exemple.pug
  include layouts/footer.pug


