extends layouts/application.pug

block content
  include styleguide/header.pug

  .py-10
    include styleguide/typography.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/text.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/colors.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/buttons.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/links.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/inputs.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/dropdown.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/form-elements.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/modale.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/sliders.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/lightgallery.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/wysiwyg.pug

  hr.border-2.border-gray-100.w-full

  .py-10
    include styleguide/containers.pug

  include styleguide/modale-exemple.pug

